/* css */

div {
    position: absolute;
}

html,
body {
    background-color: black;
    color: red;
}

.moderation {
    left: 400px;
    bottom: 40px; 
}

.main{ 
    opacity: 0; 
    transition: opacity 1s;
}